Source: upstart-app-launch
Section: unknown
Priority: extra
Maintainer: Ted Gould <ted@ubuntu.com>
Build-Depends: debhelper (>= 8.0.0),
               libglib2.0-dev,
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/upstart-app-launch.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/upstart-app-launch.git;a=summary

Package: upstart-app-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
