Source: upstart-app-launch
Priority: standard
Maintainer: Ted Gould <ted@ubuntu.com>
Build-Depends: debhelper (>= 8.0.0),
               libglib2.0-dev,
Standards-Version: 3.9.4
Homepage: http://launchpad.net/upstart-app-launch
Vcs-Bzr: lp:upstart-app-launch
Vcs-Browser: http://bazaar.launchpad.net/~indicator-applet-developers/upstart-app-launch/trunk.13.10/files

Package: upstart-app-launch
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Upstart Job for Launching Applications
 Upstart Job file and associated utilities that is used to launch
 applications in a standard and confined way.
